@font-face {
    font-family: Montserrat; /* Гарнитура шрифта */
    src: url(Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Quicksand; /* Гарнитура шрифта */
    src: url(quicksandbold.ttf); /* Путь к файлу со шрифтом */
}
* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: bold;
}
#wrapper {
    max-width: 1024px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    background-color: #ebebeb;
}
a {
    text-decoration: none;
}
img {
    display: block;
    margin: 0px;
}
#navtn {
    display: none;
    margin: auto;
    margin-left: 40px;
    font-family: Montserrat;
    font-size: 24px;
    color: white;
}
#rect1 {
    display: none;          
    float: right;
    background-color: #202529;
    height: 100%;
    width: 80px;
    justify-content: center;
    align-items: center;
}
#lines {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 17px;
    justify-content: space-between;
    align-items: center;
}
.line {
    background-color: white;
    height: 3.2px;
    width: 100%;
}
nav {  
    display: flex;
    width: 100%;
    background-color: #373c3f; 
    height: 100px;
}
ul#nav {
    display: inline-block;
    margin: auto;
    margin-left: 54px; 
    list-style: none;
    height: auto;
}
nav ul li {
    display: inline-block;
    text-align: center;
    margin: auto 14px;
    font-size: 15px;
    font-weight: bold;
    color: #ebebeb;
    text-transform: uppercase;
}
#banner {
    height: 580px;
    width: 100%;
    background-color: #0ca3b9;    
}
#cap_reg {
    float: left;
    margin-top: 200px;
    margin-left: 80px;
    width: 70%;
    font-weight: bold;
    
}
#captn {
    display: inline-block;
    font-size: 60px;
    width: 100%;
    color: white;
    float: left;
}
#ref {    
    margin-top: 180px;
    display: flex;
    justify-content: space-between;    
    width: 100%;
}
#adr {
    font-size: 34px;
    color: #86d1dc;    
    width: auto;
}
#arrow {
    font-size: 36px;
    color: white;
    float: right;
    display: inline-block;
    font-family: Quicksand;
}
#text-box {
    height: 240px;
    width: 100%;
}
#rob_good {
    font-size: 0px;
}
#box {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    height: 240px;
}
#txtbox {
    background-color: #27212c;
    width: 78%;
    font-size: 30px;
    display: flex;
    align-items: center;
    height: 100%;
}
#txt {
    margin-left: 80px;
    color: #9282a0;
}
#arrowbox1 {
    background-color: #bc3183;
    width: 22%;
    display: flex;
    height: 100%;
    margin-left: 0;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
#arrow_2 {
    font-size: 50px;
    font-family: Quicksand;
    color: white;
}
#images {
    width: 66.6%;
    display: flex;
}
.img_inl {
    display: inline-block;
    margin: 0;
    width: 50%;
    height: 100%;
}
#sect {
    font-size: 0px;
    display:flex;
    width: 100%;
    height: 295px;
}
#arrowbox2 {
    background-color: #5b0fa1;
    display: flex;   
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 33.3%;
    height: 100%;
}
#arrow_3 {
    font-size: 50px;
    font-family: Quicksand;
    color: white;    
}
#main_inf {
    height: 560px;
}
h1 {
    display: block;
    margin: 70px auto 0px 75px;
    font-size: 30px;
    color: #088ca5;     
    letter-spacing: 1px;
}
p {
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #373c3f;
    width: 100%;    
    letter-spacing: 0px;
    font-family: Montserrat;
}
#text1, #text2 {
    display: inline-block;
    margin-top: 35px;
    width: 400px;
    line-height: 2;
}
#text1 {
    margin-left: 75px;
}
#text2 {
    margin-left: 70px;
}
p#part2 {
    margin-top: 45px;
}

@media (max-width:980px) {
    #banner {
        height: 550px;    
    }
    #cap_reg {
        margin-top: 190px;
        margin-left: 75px;    
    }
    #box {
        height: 230px;
    }
    #sect {
        height: 280px;
    }
    #text1, #text2 {
        width: 360px;
    }
}

@media (max-width:640px) {
    nav {
        height: 70px;
    }
    ul#nav {
        display: none;
    }
    #navtn {
        display: flex; 
    }
    #rect1 {
        display: flex;  
    }
    #banner {
        height: 350px;    
    }
    #cap_reg {    
        margin-top: 120px;
        margin-left: 50px; 
    }
    #captn {
        font-size: 39px;
    }
    #ref {
        margin-top: 110px;
    }
    #adr, #arrow {
        font-size: 22px;
    }
    #box {
        height: 150px;
    }
    #txt {
        margin-left: 50px;
        font-size: 20px;
    }
    
    #sect {
        flex-direction: column;
        height: auto;
    }
    #images {
        flex-direction: column;
        width: 100%;
        display: block;
    }    
    #arrowbox2 {
        width: 100%;
        height: 555px;
    }
    .img_inl {
        width: 100%;
        height: 100%;
    }
    #main_inf {
        height: 890px;
    }
    #text1 {
        width: 79%;        
        margin-top: 50px;        
        line-height: 2;
    }
    p {
        font-size: 22px;
    }
    #text2 {
        display: none;
    }    
    }

@media (max-width:320px) {
    nav {
        height: 40px;
    }
    ul#nav {
        display: none;
    }
    #navtn {
        margin-left: 20px;
        font-size: 15px;
    }
    #rect1 {
        width: 40px;
    }
    #lines {
        width: 15px;
        height: 10px;
    }
    .line {
        height: 2px;
    }
    #banner {
        height: 175px;    
    }
    #cap_reg {    
        margin-top: 60px;
        margin-left: 25px; 
    }
    #captn {
        font-size: 19px;
    }
    #ref {
        margin-top: 55px;
    }
    #adr, #arrow {
        font-size: 12px;
    }
    #box {
        height: 75px;
    }
    #txt {
        margin-left: 28px;
        font-size: 10px;
        letter-spacing: 0px;
    }
    #arrow_2 {
        font-size: 15px;
    }  
      
    #arrowbox2 {
        height: 275px;
    }
   
    #main_inf {
        height: 445px;
    }
    h1 {
        font-size: 19px;
        margin-top: 40px;
        margin-left: 35px;
    }
    #text1 {
        width: 79%;
        margin-left: 35px;
        line-height: 1.5;
        margin-top: 0px;
    }
    p {
        font-size: 13.5px;        
    }    
    #part1 {
        margin-top: 20px;
    }
    p#part2 {
        margin-top: 2px;
    }    
}
